.conteiner {
  max-width: 499px;
  padding: 39px;
  margin: 50px auto;
  background-color: #272935;
  border-radius: 15px;
  color: #8d8989;
}

.conteinerDark {
  background-color: #272935;
}

.class {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 25px;
  justify-content: space-between;
}

.class h2 {
  margin-bottom: -5px;
}

.titleDark {
  color: rgb(0, 0, 0);
}

.title {
  color: #7a7a7a;
}

.title {
  justify-content: center;
  text-align: center;
  font-size: 27px;
  line-height: 33px;
  margin-bottom: 29px;
}

.cont_form {
  margin-top: 10px;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  border: 1px solid #c5c5c5;
  border-radius: 10px;
  padding: 12px 14px;
  gap: 5px;
}

.icon {
  width: 24px;
  height: 24px;
  color: #c5c5c5;
}

.cont_form input {
  outline: none;
  background-color: transparent;
  color: #7a7a7a;
  border: none;
  width: 100%;
}

.button {
  width: 100%;
  padding: 19px 0px;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  color: white;
  margin-top: 10px;
  background: linear-gradient(0.25turn, #ffa7a7, #ff014e);
}

.gogle {
  width: 100%;
  padding: 15px 99px;
  border-radius: 10px;
  border: 1px solid #d4d3d3;
  cursor: pointer;
  margin-top: 10px;
  display: flex;
  align-items: center;
  gap: 6px;
  text-align: center;
  margin-bottom: 23px;
}

.text {
  justify-content: center;
  text-align: center;
}
